* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #f3f5f7;
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
}

.contenedor {
	width: 90%;
	max-width: 1040px;
	margin: auto;
}

a {
	text-decoration: none;
}

ol, ul {
	list-style: none;
}